.flex-card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-image: radial-gradient(
    circle at center,
    #ffffff 0%,
    #f3b8ec 30%,
    #c95bd8 62%,
    #7c1fa8 100%
  );
}

.flex-card__prince {
  position: relative;
  width: 40%;
}

.flex-card__prince::before {
  content: "";
  width: 44px;
  height: 49px;
  position: absolute;
  top: -10px;
  left: 22px;
  background-image: url("../assets/var3/prince3.png");
  transform-origin: bottom center;
}

.flex-card:hover > .flex-card__prince::before {
  animation: sway 2s ease-in-out;
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  75% {
    transform: rotate(12deg);
  }
}

.flex-card_frog {
  position: relative;
  display: none;
  margin-left: 20px;
}

.flex-card_frog::before {
  content: "Ты кто?";
  position: absolute;
  bottom: 100%;
  left: 50%;
  white-space: nowrap;
  font-size: 16px;
  opacity: 0;
}

.flex-card_frog::after {
  content: "Я принцесса!";
  position: absolute;
  bottom: 100%;
  left: 50%;
  white-space: nowrap;
  font-size: 16px;
  opacity: 0;
}

.flex-card:hover > .flex-card_frog {
  display: flex;
  animation: frog-in 1.2s linear;
}

.flex-card:hover > .flex-card_frog::before {
  animation: text-in 0.6s ease-out 1.2s forwards;
}

.flex-card__frog-img {
  display: block;
  width: 50px;
}

@keyframes frog-in {
  0% {
    transform: translateX(100px) translateY(-100px);
  }
  25% {
    transform: translateX(40px) translateY(-100px);
  }
  50% {
    transform: translateY(0) translateX(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes text-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) rotate(-90deg) scale(0);
  }
  60% {
    opacity: 1;
    transform: translateX(-50%) rotate(15deg) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
}

.flex-card__princess-img {
  display: none;
  width: 32px;
  opacity: 0;
  transform-origin: bottom center;
  margin-left: 20px;
}

.flex-card:active > .flex-card_frog .flex-card__frog-img {
  display: none;
}

.flex-card:active > .flex-card_frog .flex-card__princess-img {
  display: initial;
  animation: princess-in 0.6s ease-out 0.4s forwards;
}

.flex-card:active {
  animation: sepia-in 0.5s ease 1s forwards;
}

.flex-card:active > .flex-card_frog::before {
  display: none;
}

.flex-card:active > .flex-card_frog::after {
  animation: text-in 0.6s ease-out 1s forwards;
}

@keyframes princess-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(3);
  }
}

@keyframes sepia-in {
  0% {
    filter: sepia(0);
  }
  100% {
    filter: sepia(1);
  }
}
